*.Rhistory
pbc_analysis/data/
pbc_analysis/ibd*
*slurm*out
pbc_analysis/results/pre*.log
pbc_analysis/results/knockoffs_gof/*.ld
pbc_analysis/results/knockoffs_gof/*.frq
pbc_analysis/results/knockoffs_gof/*.nosex